@mixin center() {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin center_column() {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

@mixin end() {
    display: flex;
    justify-content: end;
    align-items: end;
    flex-direction: column;
}

@mixin background() {
    background: $bg-img-1;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

@mixin loading() {
    border-right: 0;
    border-left: 0;

    background-image: linear-gradient(transparent, transparent),
        linear-gradient(to right, #FF0012, #FF4900, #F2FF00, #03FE01, #00FFE5, #0017FF, #F900FF, #FF0012);
    background-clip: padding-box, border-box;

    background-size: 200% auto;
    animation: loading 2.5s infinite linear;
}

@mixin loading-3() {
    border-right: 0;
    border-left: 0;

    background-image: linear-gradient($pet_bg_theme2, $pet-bg),
        linear-gradient(to right, #FF0012, #FF4900, #F2FF00, #03FE01, #00FFE5, #0017FF, #F900FF, #FF0012);
    background-clip: padding-box, border-box;

    background-size: 200% auto;
    animation: loading 2.5s infinite linear;
}

.center_high {
    @include center();
    width: 100vw;
    height: 100vh;
}

.center_low {
    @include center();
    flex-direction: column;
}

.start {
    position: absolute;
    top: 30px;
    left: 16px;
}

.end {
    position: absolute;
    width: calc(100vw - 40px);
    bottom: 20px;
}

.end-top {
    position: absolute;
    top: 30px;
    right: 16px;
}

.right {
    display: flex;
    justify-content: right;
    align-items: flex-end;
    flex-direction: column;
}

.row {
    display: flex;
    flex-direction: row;
    position: relative;
}

.arrow {
    position: relative;
    width: 40px;
    height: 40px;
}

.arrow::after,
.arrow::before {
    content: "";
    max-width: 32px;
    width: 3.3vmin;
    max-height: 6px;
    height: 0.6vmin;
    border-radius: 100px;
    background-color: $color1_theme1;
    position: absolute;
}

.arrow::after {
    transform: rotate(-45deg);
}

.arrow::before {
    top: 2vmin;
    transform: rotate(45deg);
}

.play {
    color: #fff;
    position: absolute;
    right: 0;
}

.inline {
    display: flex;
    flex-direction: row;
}