@mixin center() {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin center_column() {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

@mixin end() {
    display: flex;
    justify-content: end;
    align-items: end;
    flex-direction: column;
}

@mixin background() {
    background: url(../img/bg_1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: $bg_theme1;
}