@mixin center() {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin center_column() {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

@mixin end() {
    display: flex;
    justify-content: end;
    align-items: end;
    flex-direction: column;
}

@mixin background() {
    background: url(../img/bg_1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: $bg_theme1;
}

.center_high {
    @include center();
    width: 100vw;
    height: 100vh;
}

.center_low {
    @include center();
    flex-direction: column;
}

.start {
    position: absolute;
    top: 30px;
    left: 17px;
}

.end {
    position: absolute;
    width: calc( 100vw - 40px );
    bottom: 20px;
}

.row {
    display: flex;
    flex-direction: row;
}

.arrow {
    position: relative;
    width: 40px;
    height: 40px;
}

.arrow::after, .arrow::before {
    content: "";
    width: 32px;
    height: 8px;
    border-radius: 100px;
    background-color: $color1_theme1;
    position: absolute;
}

.arrow::after {
    transform:rotate(-45deg);
}

.arrow::before {
    top: 18px;
    transform:rotate(45deg);
}