//Variáveis
$bg_home: #9174E4;
$pet-bg: #333;//#8b3636
$title-bg: #F5EFFD;

$pet_bg_theme2: #2e2e33;//E9E5FD
$bg_theme1: #DECDF7;
$color1_theme1: #3231F1;
$color2_theme1: #9174E4;
$color3_theme1: #9C8CFF;

$bg_theme2: #040833;
$color1_theme2: #1427FA;
$color2_theme2: #5763E6;
$color3_theme2: #00AAF1;

$bg_theme3: #A9FFD1;
$color1_theme3: #117438;
$color2_theme3: #1ED760;
$color3_theme3: #6BF29A;

$bg-img-1: url(../img/bg_1.png);
$bg-img-2: url(../img/bg_2.png);
$bg-img-3: url(../img/bg_3.png);

$shadow-box: inset 0.2vmin -0.4vmin 0.8vmin rgba(0, 0, 0, 0.2), inset -2px 4px 8px rgba(255, 255, 255, 0.2);
$shadow-reels: inset 0.2vmin -0.2vmin 0.8vmin rgba(255, 255, 255, 0.1), inset -4px 4px 8px rgba(0, 0, 0, 0.1);
$shadow-tape: inset 0.4vmin 0.4vmin 0.4vmin rgba(0, 0, 0, 0.1), inset 4px -4px 4px rgba(255, 255, 255, 0.1);
$shadow-in-out: inset -4px 4px 8px rgba(255, 255, 255, 0.05), inset 4px 0px 8px rgba(0, 0, 0, 0.1);

//Fontes
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

@font-face {
    font-family: 'Radwave';
    src: url(./Radwave.OTF), url("/src/styles/fonts/Radwave.OTF") format("OTF");
    font-display: swap;
}