@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@font-face {
  font-family: 'Radwave';
  src: url(./Radwave.OTF), url("/src/styles/fonts/Radwave.OTF") format("OTF");
  font-display: swap;
}

.center_high {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100vw;
  height: 100vh;
}

.center_low {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.start {
  position: absolute;
  top: 30px;
  left: 17px;
}

.end {
  position: absolute;
  width: calc( 100vw - 40px);
  bottom: 20px;
}

.right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: relative;
}

.arrow {
  position: relative;
  width: 40px;
  height: 40px;
}

.arrow::after, .arrow::before {
  content: "";
  max-width: 32px;
  width: 3.3vmin;
  max-height: 6px;
  height: 0.6vmin;
  border-radius: 100px;
  background-color: #3231F1;
  position: absolute;
}

.arrow::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.arrow::before {
  top: 2vmin;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.play {
  color: #fff;
  position: absolute;
  right: 0;
}

.inline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

@-webkit-keyframes playing1 {
  0% {
    height: 24px;
  }
  50% {
    height: 12px;
  }
  100% {
    height: 24px;
  }
}

@keyframes playing1 {
  0% {
    height: 24px;
  }
  50% {
    height: 12px;
  }
  100% {
    height: 24px;
  }
}

@-webkit-keyframes playing2 {
  0% {
    height: 12px;
  }
  50% {
    height: 24px;
  }
  100% {
    height: 12px;
  }
}

@keyframes playing2 {
  0% {
    height: 12px;
  }
  50% {
    height: 24px;
  }
  100% {
    height: 12px;
  }
}

@-webkit-keyframes loading {
  to {
    background-position-x: 200%;
  }
}

@keyframes loading {
  to {
    background-position-x: 200%;
  }
}

.box {
  position: relative;
  max-width: 800px;
  width: 83.5vmin;
  max-height: 520px;
  height: 54.2vmin;
  border-radius: 5vmin;
  background-color: #333;
  -webkit-box-shadow: inset 0.2vmin -0.4vmin 0.8vmin rgba(0, 0, 0, 0.2), inset -2px 4px 8px rgba(255, 255, 255, 0.2);
          box-shadow: inset 0.2vmin -0.4vmin 0.8vmin rgba(0, 0, 0, 0.2), inset -2px 4px 8px rgba(255, 255, 255, 0.2);
}

.tape-reels {
  max-width: 710px;
  width: 74.1vmin;
  max-height: 340px;
  height: 35.5vmin;
  margin-top: 3.6vmin;
  background: #333;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: inset 0.2vmin -0.2vmin 0.8vmin rgba(255, 255, 255, 0.1), inset -4px 4px 8px rgba(0, 0, 0, 0.1);
          box-shadow: inset 0.2vmin -0.2vmin 0.8vmin rgba(255, 255, 255, 0.1), inset -4px 4px 8px rgba(0, 0, 0, 0.1);
}

.tape-title {
  max-width: 680px;
  width: 71vmin;
  max-height: 280px;
  height: 29.2vmin;
  border-radius: 2.5vmin;
  background: rgba(245, 239, 253, 0.8);
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.lines {
  position: relative;
  width: 100%;
  height: 10.65vmin;
  margin-bottom: 4.2vmin;
}

.lines .line1,
.lines .line2,
.lines .line3 {
  width: 100%;
  height: calc(10.65vmin / 3);
  position: absolute;
}

.lines .line1 {
  background-color: #3231F1;
  margin-top: 0;
}

.lines .line2 {
  background-color: #9174E4;
  top: 3.55vmin;
}

.lines .line3 {
  background-color: #9C8CFF;
  top: 7.10vmin;
}

.tape-window {
  position: relative;
  max-width: 470px;
  width: 46.5vmin;
  max-height: 108px;
  height: 10.65vmin;
  z-index: 1;
  background-color: #333;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.tape-window .tape-music {
  max-width: 80px;
  width: 8.4vmin;
  max-height: 80px;
  height: 8.4vmin;
  border-radius: 100%;
  -webkit-box-shadow: inset 0.4vmin 0.4vmin 0.4vmin rgba(0, 0, 0, 0.1), inset 4px -4px 4px rgba(255, 255, 255, 0.1);
          box-shadow: inset 0.4vmin 0.4vmin 0.4vmin rgba(0, 0, 0, 0.1), inset 4px -4px 4px rgba(255, 255, 255, 0.1);
}

.tape-window .tape-music .tape-music-in {
  max-width: 48px;
  width: 5vmin;
  max-height: 48px;
  height: 5vmin;
  border-radius: 100%;
  border: 0.85vmin solid #fff;
  background-color: #DECDF7;
}

.tape-window .tape-view {
  max-width: 160px;
  width: 16.7vmin;
  max-height: 60px;
  height: 6.2vmin;
  margin-bottom: 1vmin;
  background-color: #DECDF7;
}

.tape-in-out {
  margin-top: 2.1vmin;
  background-color: #333;
  max-width: 460px;
  width: 54.3vmin;
  max-height: 116px;
  height: 12.5vmin;
  position: relative;
  -webkit-transform: perspective(8px) rotateX(0.8deg);
          transform: perspective(8px) rotateX(0.8deg);
  -webkit-box-shadow: inset -4px 4px 8px rgba(255, 255, 255, 0.05), inset 4px 0px 8px rgba(0, 0, 0, 0.1);
          box-shadow: inset -4px 4px 8px rgba(255, 255, 255, 0.05), inset 4px 0px 8px rgba(0, 0, 0, 0.1);
}

#toplay .container {
  background: url(../img/bg_1.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url(../img/bg_2.png);
}

#toplay .tape-title,
#toplay .tape-music-in,
#toplay .tape-view {
  background-color: #040833;
}

#toplay .tape-in-out,
#toplay .tape-reels,
#toplay .box {
  border-right: 0;
  border-left: 0;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#2e2e33), to(#333)), -webkit-gradient(linear, left top, right top, from(#FF0012), color-stop(#FF4900), color-stop(#F2FF00), color-stop(#03FE01), color-stop(#00FFE5), color-stop(#0017FF), color-stop(#F900FF), to(#FF0012));
  background-image: linear-gradient(#2e2e33, #333), linear-gradient(to right, #FF0012, #FF4900, #F2FF00, #03FE01, #00FFE5, #0017FF, #F900FF, #FF0012);
  background-clip: padding-box, border-box;
  background-size: 200% auto;
  -webkit-animation: loading 2.5s infinite linear;
          animation: loading 2.5s infinite linear;
  border: solid 1px transparent;
}

#toplay .tape-window {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#2e2e33), to(#333));
  background-image: linear-gradient(#2e2e33, #333);
}

#toplay .tape-in-out {
  border-bottom: 0;
}

#toplay .line1,
#toplay .line2 {
  border: solid calc(10.65vmin / 3) transparent;
}

#toplay .line1 {
  border-right: 0;
  border-left: 0;
  background-image: -webkit-gradient(linear, left top, left bottom, from(transparent), to(transparent)), -webkit-gradient(linear, left top, right top, from(#FF0012), color-stop(#FF4900), color-stop(#F2FF00), color-stop(#03FE01), color-stop(#00FFE5), color-stop(#0017FF), color-stop(#F900FF), to(#FF0012));
  background-image: linear-gradient(transparent, transparent), linear-gradient(to right, #FF0012, #FF4900, #F2FF00, #03FE01, #00FFE5, #0017FF, #F900FF, #FF0012);
  background-clip: padding-box, border-box;
  background-size: 200% auto;
  -webkit-animation: loading 2.5s infinite linear;
          animation: loading 2.5s infinite linear;
}

#toplay .line2 {
  border-right: 0;
  border-left: 0;
  background-image: -webkit-gradient(linear, left top, left bottom, from(transparent), to(transparent)), -webkit-gradient(linear, left top, right top, from(#FF0012), color-stop(#FF4900), color-stop(#F2FF00), color-stop(#03FE01), color-stop(#00FFE5), color-stop(#0017FF), color-stop(#F900FF), to(#FF0012));
  background-image: linear-gradient(transparent, transparent), linear-gradient(to right, #FF0012, #FF4900, #F2FF00, #03FE01, #00FFE5, #0017FF, #F900FF, #FF0012);
  background-clip: padding-box, border-box;
  background-size: 200% auto;
  -webkit-animation: loading 2.5s infinite linear;
          animation: loading 2.5s infinite linear;
  border-bottom: 0;
}

#toplay .line3 {
  display: none;
}

#toplay .music-playing {
  color: rgba(255, 255, 255, 0.8);
}

#toplay .playing-1,
#toplay .playing-2,
#toplay .arrow::after,
#toplay .arrow::before {
  background-color: white;
}

#toplay .playing {
  color: #fff;
}

#toplay .play {
  background: url(../img/play2.png);
}

#toplay .pause {
  background: url(../img/pause2.png);
}

#torelax .container {
  background: url(../img/bg_1.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url(../img/bg_3.png);
}

#torelax .tape-music-in,
#torelax .tape-view {
  background-color: #A9FFD1;
}

#torelax .tape-title {
  background-color: #F5EFFD;
}

#torelax .line1 {
  background-color: #117438;
}

#torelax .line2 {
  background-color: #1ED760;
}

#torelax .line3 {
  background-color: #6BF29A;
}

.playing {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 20px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #3231F1;
}

.playing .playing-1,
.playing .playing-2 {
  width: 4px;
  border-radius: 100px;
  background-color: #3231F1;
}

.playing .playing-1 {
  height: 24px;
}

.playing .playing-2 {
  height: 12px;
}

.animate-1 {
  -webkit-animation: playing1 1.8s ease-in-out infinite;
          animation: playing1 1.8s ease-in-out infinite;
}

.animate-2 {
  -webkit-animation: playing2 1.8s ease-in-out infinite;
          animation: playing2 1.8s ease-in-out infinite;
}

.music-playing {
  margin-left: 16px;
  font-size: clamp(10px, 1.6vmin, 16px);
  font-weight: bold;
  color: #3231F1;
}

.play-button, .pause-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.pause-button {
  width: 18px;
}

.pause {
  width: 14px;
  height: 22px;
  background-image: url(../img/pause.png);
  cursor: pointer;
}

.play {
  width: 18px;
  height: 22px;
  background-image: url(../img/play.png);
  cursor: pointer;
}

.row {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
  font-family: 'Radwave', 'Poppins', Arial, Helvetica, sans-serif;
}

body {
  background-color: #9174E4;
}

.container {
  position: relative;
  width: 100vw;
  height: 100vh;
  background: url(../img/bg_1.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.container-max {
  max-width: 1440px;
  margin: auto;
  padding: 0 4vmin;
}

a {
  position: relative;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

h1, h2 {
  font-size: 12.5vmin;
}

h1 {
  color: #3231F1;
  margin-top: 20vmin;
}

h2 {
  min-width: 42.8vmin;
  width: 100%;
  color: #fff;
}

h2:hover {
  cursor: pointer;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
  background-color: #3231F1;
  color: #DECDF7;
}

span {
  -webkit-text-stroke: 1px #3231F1;
  color: #9174E4;
}
/*# sourceMappingURL=app.css.map */