@keyframes playing1 {
    0% {
        height: 24px;
    }

    50% {
        height: 12px;
    }

    100% {
        height: 24px;
    }
}

@keyframes playing2 {
    0% {
        height: 12px;
    }

    50% {
        height: 24px;
    }

    100% {
        height: 12px;
    }
}

@keyframes loading {
    to {
        background-position-x: 200%;
    }
}

@keyframes spin-star {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}