.playing {
    // animation: playing 2s ease;
    position: relative;
    display: flex;
    width: 20px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: $color1_theme1;

    .playing-1,
    .playing-2 {
        width: 4px;
        border-radius: 100px;
        background-color: $color1_theme1;
    }

    .playing-1 {
        height: 24px;
    }

    .playing-2 {
        height: 12px;
    }
}

.animate-1 {
    animation: playing1 1.8s ease-in-out infinite;
}

.animate-2 {
    animation: playing2 1.8s ease-in-out infinite;
}

.music-playing {
    margin-left: 16px;
    font-size: clamp(10px, 1.6vmin, 16px);
    font-weight: bold;
    color: $color1_theme1;
}

.play-button,
.pause-button {
    @include center();
    position: relative;
}

.pause-button {
    width: 18px;
}

.pause {
    width: 14px;
    height: 22px;
    background-image: url(../img/pause.svg);
    cursor: pointer;
}

.play {
    // max-width: 20px;
    // width: 2vmin;
    // max-height: 24px;
    // height: 2.4vmin;
    width: 18px;
    height: 22px;
    background-image: url(../img/play.svg);
    cursor: pointer;
}

.row {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.volume-img {
    width: 24px;
    height: 24px;
    margin-top: -8px;
    background: url(../img/volume.svg);
}

.volume {
    display: none;
}

.volume-img:hover {
    background: none;
    width: 84px;
    height: 48px;

    .volume {
        display: flex;
        flex-direction: column;

        .inline {
            @include center();
        }

        .volume-end {
            display: flex;
            justify-content: end;
            flex-direction: column-reverse;
            align-items: flex-end;
        }

    }
}