// Tape CSS
.box {
    position: relative;
    max-width: 800px;
    width: 83.5vmin;
    max-height: 520px;
    height: 54.2vmin;
    border-radius: 5vmin;
    background-color: $pet-bg;
    box-shadow: $shadow-box
}

.tape-reels {
    max-width: 710px;
    width: 74.1vmin;
    max-height: 340px;
    height: 35.5vmin;
    margin-top: 3.6vmin;
    background: $pet-bg;
    box-sizing: border-box;
    box-shadow: $shadow-reels;
}

.tape-title {
    max-width: 680px;
    width: 71vmin;
    max-height: 280px;
    height: 29.2vmin;
    border-radius: 2.5vmin;
    background: #fff;
    backdrop-filter: blur(20px);
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}

.logo-left {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 20px;
    left: 40px;
}

.logo-right {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 20px;
    right: 40px;
}

.lines {
    position: relative;
    width: 100%;
    height: 10.65vmin;
    margin-bottom: 4.2vmin;

    .line1,
    .line2,
    .line3 {
        width: 100%;
        height: calc(10.65vmin / 3);
        position: absolute;
    }

    .line1 {
        background-color: $color1_theme1;
        margin-top: 0;
    }

    .line2 {
        background-color: $color2_theme1;
        top: 3.55vmin;
    }

    .line3 {
        background-color: $color3_theme1;
        top: 7.10vmin;
    }
}

.tape-window {
    position: relative;
    max-width: 470px;
    width: 46.5vmin;
    max-height: 108px;
    height: 10.65vmin;
    z-index: 1;
    background-color: $pet_bg;
    display: flex;
    align-items: center;
    justify-content: space-around;

    .tape-music {
        max-width: 80px;
        width: 8.4vmin;
        max-height: 80px;
        height: 8.4vmin;
        border-radius: 100%;
        box-shadow: $shadow-tape;

        .tape-music-in {
            max-width: 48px;
            width: 5vmin;
            max-height: 48px;
            height: 5vmin;
            border-radius: 100%;
            border: 0.85vmin solid #fff;
            background-color: $bg_theme1;
        }
    }

    .tape-view {
        max-width: 160px;
        width: 16.7vmin;
        max-height: 60px;
        height: 6.2vmin;
        margin-bottom: 1vmin;
        background-color: $bg_theme1;
    }
}

.tape-in-out {
    margin-top: 2.1vmin;
    background-color: $pet_bg;
    max-width: 460px; //580
    width: 54.3vmin;
    max-height: 116px;
    height: 12.5vmin;
    position: relative;
    transform: perspective(8px) rotateX(.8deg);
    box-shadow: inset -4px 4px 8px rgba(255, 255, 255, 0.05), inset 4px 0px 8px rgba(0, 0, 0, 0.1);
}