//Funções
@mixin icon-white {
    .music-playing {
        color: #fff;
    }

    .playing-1,
    .playing-2,
    .arrow::after,
    .arrow::before {
        background-color: #fff; //0.8
    }

    .playing {
        color: #fff;
    }

    .play {
        background: url(../img/icons/play2.svg);
    }

    .pause {
        background: url(../img/icons/pause2.svg);
    }

    .next {
        background: url(../img/icons/next2.svg);
    }

    .back {
        background: url(../img/icons/back2.svg);
    }

    .volume-img {
        background: url(../img/icons/volume2.svg);
    }

    .mute-img {
        background: url(../img/icons/mute2.svg);
    }

    .volume-img:hover,
    .mute-img:hover {
        background: none
    }
}

@mixin icon-black {

    .music-playing,
    .playing {
        color: #0a0a0a;
    }

    .playing-1,
    .playing-2,
    .arrow::after,
    .arrow::before {
        background-color: #0a0a0a;
    }

    .play {
        background: url(../img/icons/play3.svg);
    }

    .pause {
        background: url(../img/icons/pause3.svg);
    }

    .next {
        background: url(../img/icons/next3.svg);
    }

    .back {
        background: url(../img/icons/back3.svg);
    }

    .volume-img {
        background: url(../img/icons/volume3.svg);
    }

    .mute-img {
        background: url(../img/icons/mute3.svg);
    }

    .volume-img:hover,
    .mute-img:hover {
        background: none
    }
}

//Temas

//To Play
#toplay {
    @include icon-white();

    .container {
        @include background();
        background-image: $bg_img_2;
    }

    .tape-title,
    .tape-music-in,
    .tape-view {
        background-color: $bg_theme2;
    }

    .tape-in-out,
    .tape-reels,
    .box {
        @include loading-3();
        border: solid 1px transparent
    }

    .tape-window {
        background-image: linear-gradient($pet_bg_theme2, $pet-bg);
    }

    .tape-in-out {
        border-bottom: 0;
    }

    // .tape-music-in {
    //     background-color: rgba(0, 170, 241, 0.6);
    // }

    .line1,
    .line2 {
        border: solid calc(10.65vmin / 3) transparent;
    }

    .line1 {
        @include loading();
    }

    .line2 {
        @include loading();
        border-bottom: 0;
    }

    .line3 {
        display: none;
    }

}

//To Relax
#torelax {
    .container {
        @include background();
        background-image: $bg_img_3;
    }

    .tape-music-in,
    .tape-view {
        background-color: $bg_theme3;
    }

    .line1 {
        background-color: $color1_theme3;
    }

    .line2 {
        background-color: $color2_theme3;
    }

    .line3 {
        background-color: $color3_theme3;
    }

}

//To Galaxy
#togalaxy {
    @include icon-white();
    .container {
        @include background();
        background-image: $bg_img_galaxy;

        .line1,
        .line2,
        .line3 {
            display: none;
        }

        .tape-title {
            background: $bg_tape_galaxy;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
        }

        .tape-view {
            background-color: #F5EFFD;
        }

        .tape-music-in {
            background-color: $color1_theme_galaxy;
        }

    }
}

//To Grunge
#togrunge {
    @include icon-black();

    .container {
        @include background();
        background-image: $bg_img_grunge;
    }

    .tape-title,
    .tape-view,
    .tape-music-in {
        background-color: rgba(241, 238, 202, 0.9);
    }

    .lines {
        background: linear-gradient(180deg, #8C3838 0%, #22091E 100%);
    }

    .line1,
    .line2,
    .line3 {
        display: none;
    }

    .logo-left {
        img {
            max-width: 40px;
            width: 4vmin;
            max-height: 40px;
            height: 4vmin;
        }

        background: url(../img/icons/icon_togrunge.png);
    }

    // .logo-right {
    //     color: #0a0a0a;
    //     width: 176px;
    // }

    // .logo-right::after {
    //     content: "Grunge is Dead!";
    //     font-size: 0.6rem;
    // }

}

//Tema To Rave
#torave {
    @include icon-white();

    .container {
        background: $bg_torave;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    .tape-title {
        background: linear-gradient(225deg, #e184c4 0%, #84e0a0 100%);
        background-size: cover;
    }

    .tape-window {
        border-radius: 16px;
    }

    .tape-music-in,
    .tape-view {
        background: linear-gradient(225deg, #e184c4 0%, #84e0a0 100%);
    }

    .tape-in-out,
    .tape-reels,
    .box {
        @include loading-3();
        border: solid 1px transparent
    }

    .tape-window {
        background-image: linear-gradient($pet_bg_theme2, $pet-bg);
    }

    .tape-in-out {
        border-bottom: 0;
    }

    .line1,
    .line2,
    .line3 {
        display: none;
    }

    .logo-left {
        background: url(../img/icons/icon_tutztutz.png);
        background-size: cover;
    }

}