@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Yellowtail&display=swap");
@font-face {
  font-family: "Radwave";
  src: url(../styles/fonts/Radwave.otf), url("/src/styles/fonts/Radwave.otf") format("otf");
  font-display: swap;
}
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #9174E4;
}

::-webkit-scrollbar-thumb {
  background-color: #3231F1;
}

.center_high {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.center_low {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.start {
  position: absolute;
  top: 30px;
  left: 16px;
}

.end {
  position: absolute;
  width: calc(100vw - 40px);
  bottom: 20px;
}

.end-top {
  position: absolute;
  top: 30px;
  right: 16px;
}

.right {
  display: flex;
  justify-content: right;
  align-items: flex-end;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
  position: relative;
}

.arrow {
  position: relative;
  width: 40px;
  height: 40px;
}

.arrow::after,
.arrow::before {
  content: "";
  max-width: 32px;
  width: 3.3vmin;
  max-height: 6px;
  height: 0.6vmin;
  border-radius: 100px;
  background-color: #3231F1;
  position: absolute;
}

.arrow::after {
  transform: rotate(-45deg);
}

.arrow::before {
  top: 2vmin;
  transform: rotate(45deg);
}

.play {
  color: #fff;
  position: absolute;
  right: 0;
}

.inline {
  display: flex;
  flex-direction: row;
}

.pointer {
  cursor: pointer;
}

@-webkit-keyframes playing1 {
  0% {
    height: 24px;
  }
  50% {
    height: 12px;
  }
  100% {
    height: 24px;
  }
}

@keyframes playing1 {
  0% {
    height: 24px;
  }
  50% {
    height: 12px;
  }
  100% {
    height: 24px;
  }
}
@-webkit-keyframes playing2 {
  0% {
    height: 12px;
  }
  50% {
    height: 24px;
  }
  100% {
    height: 12px;
  }
}
@keyframes playing2 {
  0% {
    height: 12px;
  }
  50% {
    height: 24px;
  }
  100% {
    height: 12px;
  }
}
@-webkit-keyframes loading {
  to {
    background-position-x: 200%;
  }
}
@keyframes loading {
  to {
    background-position-x: 200%;
  }
}
@-webkit-keyframes spin-star {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes spin-star {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
.box {
  position: relative;
  max-width: 800px;
  width: 83.5vmin;
  max-height: 520px;
  height: 54.2vmin;
  border-radius: 5vmin;
  background-color: #333;
  box-shadow: inset 0.2vmin -0.4vmin 0.8vmin rgba(0, 0, 0, 0.2), inset -2px 4px 8px rgba(255, 255, 255, 0.2);
}

.tape-reels {
  max-width: 710px;
  width: 74.1vmin;
  max-height: 340px;
  height: 35.5vmin;
  margin-top: 3.6vmin;
  background: #333;
  box-sizing: border-box;
  box-shadow: inset 0.2vmin -0.2vmin 0.8vmin rgba(255, 255, 255, 0.1), inset -4px 4px 8px rgba(0, 0, 0, 0.1);
}

.tape-title {
  max-width: 680px;
  width: 71vmin;
  max-height: 280px;
  height: 29.2vmin;
  border-radius: 2.5vmin;
  background: #fff;
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
}

.logo-left {
  position: absolute;
  width: clamp(20px, 4vw, 40px);
  height: clamp(20px, 4vw, 40px);
  top: 2vmin;
  left: 4vmin;
}

.logo-right {
  position: absolute;
  width: clamp(20px, 4vw, 40px);
  height: clamp(20px, 4vw, 40px);
  top: 2vmin;
  right: 4vmin;
}

.lines {
  position: relative;
  width: 100%;
  height: 10.65vmin;
  margin-bottom: 4.2vmin;
}
.lines .line1,
.lines .line2,
.lines .line3 {
  width: 100%;
  height: 3.55vmin;
  position: absolute;
}
.lines .line1 {
  background-color: #3231F1;
  margin-top: 0;
}
.lines .line2 {
  background-color: #9174E4;
  top: 3.55vmin;
}
.lines .line3 {
  background-color: #9C8CFF;
  top: 7.1vmin;
}

.tape-window {
  position: relative;
  max-width: 470px;
  width: 46.5vmin;
  max-height: 108px;
  height: 10.65vmin;
  z-index: 1;
  background-color: #333;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.tape-window .tape-music {
  max-width: 80px;
  width: 8.4vmin;
  max-height: 80px;
  height: 8.4vmin;
  border-radius: 100%;
  box-shadow: inset 0.4vmin 0.4vmin 0.4vmin rgba(0, 0, 0, 0.1), inset 4px -4px 4px rgba(255, 255, 255, 0.1);
}
.tape-window .tape-music .tape-music-in {
  max-width: 48px;
  width: 5vmin;
  max-height: 48px;
  height: 5vmin;
  border-radius: 100%;
  border: 0.85vmin solid #fff;
  background-color: #DECDF7;
}
.tape-window .tape-view {
  max-width: 160px;
  width: 16.7vmin;
  max-height: 60px;
  height: 6.2vmin;
  margin-bottom: 1vmin;
  background-color: #DECDF7;
}

.tape-in-out {
  margin-top: 2.1vmin;
  background-color: #333;
  max-width: 460px;
  width: 54.3vmin;
  max-height: 116px;
  height: 12.5vmin;
  position: relative;
  transform: perspective(8px) rotateX(0.8deg);
  box-shadow: inset -4px 4px 8px rgba(255, 255, 255, 0.05), inset 4px 0px 8px rgba(0, 0, 0, 0.1);
}

#toplay .music-playing {
  color: #fff;
}
#toplay .playing-1,
#toplay .playing-2,
#toplay .arrow::after,
#toplay .arrow::before {
  background-color: #fff;
}
#toplay .playing {
  color: #fff;
}
#toplay .play {
  background: url(../img/icons/play2.svg);
}
#toplay .pause {
  background: url(../img/icons/pause2.svg);
}
#toplay .next {
  background: url(../img/icons/next2.svg);
}
#toplay .back {
  background: url(../img/icons/back2.svg);
}
#toplay .volume-img {
  background: url(../img/icons/volume2.svg);
}
#toplay .mute-img {
  background: url(../img/icons/mute2.svg);
}
#toplay .volume-img:hover,
#toplay .mute-img:hover {
  background: none;
}
#toplay .container {
  background: url(../img/bg/bg_1.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url(../img/bg/bg_2.png);
}
#toplay .tape-title,
#toplay .tape-music-in,
#toplay .tape-view {
  background-color: #040833;
}
#toplay .tape-in-out,
#toplay .tape-reels,
#toplay .box {
  border-right: 0;
  border-left: 0;
  background-image: linear-gradient(#2e2e33, #333), linear-gradient(to right, #FF0012, #FF4900, #F2FF00, #03FE01, #00FFE5, #0017FF, #F900FF, #FF0012);
  background-clip: padding-box, border-box;
  background-size: 200% auto;
  -webkit-animation: loading 2.5s infinite linear;
          animation: loading 2.5s infinite linear;
  border: solid 1px transparent;
}
#toplay .tape-window {
  background-image: linear-gradient(#2e2e33, #333);
}
#toplay .tape-in-out {
  border-bottom: 0;
}
#toplay .line1,
#toplay .line2 {
  border: solid 3.55vmin transparent;
}
#toplay .line1 {
  border-right: 0;
  border-left: 0;
  background-image: linear-gradient(transparent, transparent), linear-gradient(to right, #FF0012, #FF4900, #F2FF00, #03FE01, #00FFE5, #0017FF, #F900FF, #FF0012);
  background-clip: padding-box, border-box;
  background-size: 200% auto;
  -webkit-animation: loading 2.5s infinite linear;
          animation: loading 2.5s infinite linear;
}
#toplay .line2 {
  border-right: 0;
  border-left: 0;
  background-image: linear-gradient(transparent, transparent), linear-gradient(to right, #FF0012, #FF4900, #F2FF00, #03FE01, #00FFE5, #0017FF, #F900FF, #FF0012);
  background-clip: padding-box, border-box;
  background-size: 200% auto;
  -webkit-animation: loading 2.5s infinite linear;
          animation: loading 2.5s infinite linear;
  border-bottom: 0;
}
#toplay .line3 {
  display: none;
}

#torelax .container {
  background: url(../img/bg/bg_1.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url(../img/bg/bg_3.png);
}
#torelax .tape-music-in,
#torelax .tape-view {
  background-color: #A9FFD1;
}
#torelax .line1 {
  background-color: #117438;
}
#torelax .line2 {
  background-color: #1ED760;
}
#torelax .line3 {
  background-color: #6BF29A;
}

#togalaxy .music-playing {
  color: #fff;
}
#togalaxy .playing-1,
#togalaxy .playing-2,
#togalaxy .arrow::after,
#togalaxy .arrow::before {
  background-color: #fff;
}
#togalaxy .playing {
  color: #fff;
}
#togalaxy .play {
  background: url(../img/icons/play2.svg);
}
#togalaxy .pause {
  background: url(../img/icons/pause2.svg);
}
#togalaxy .next {
  background: url(../img/icons/next2.svg);
}
#togalaxy .back {
  background: url(../img/icons/back2.svg);
}
#togalaxy .volume-img {
  background: url(../img/icons/volume2.svg);
}
#togalaxy .mute-img {
  background: url(../img/icons/mute2.svg);
}
#togalaxy .volume-img:hover,
#togalaxy .mute-img:hover {
  background: none;
}
#togalaxy .container {
  background: url(../img/bg/bg_1.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url(../img/bg/bg_galaxy2.jpg);
}
#togalaxy .container .line1,
#togalaxy .container .line2,
#togalaxy .container .line3 {
  display: none;
}
#togalaxy .container .tape-title {
  background: url(../img/tapeview/tape_galaxy.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
#togalaxy .container .tape-view {
  background-color: #F5EFFD;
}
#togalaxy .container .tape-music-in {
  background-color: #1D1B38;
}

#togrunge .music-playing,
#togrunge .playing {
  color: #0a0a0a;
}
#togrunge .playing-1,
#togrunge .playing-2,
#togrunge .arrow::after,
#togrunge .arrow::before {
  background-color: #0a0a0a;
}
#togrunge .play {
  background: url(../img/icons/play3.svg);
}
#togrunge .pause {
  background: url(../img/icons/pause3.svg);
}
#togrunge .next {
  background: url(../img/icons/next3.svg);
}
#togrunge .back {
  background: url(../img/icons/back3.svg);
}
#togrunge .volume-img {
  background: url(../img/icons/volume3.svg);
}
#togrunge .mute-img {
  background: url(../img/icons/mute3.svg);
}
#togrunge .volume-img:hover,
#togrunge .mute-img:hover {
  background: none;
}
#togrunge .container {
  background: url(../img/bg/bg_1.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url(../img/bg/bg_togrunge2.png);
}
#togrunge .tape-title,
#togrunge .tape-view,
#togrunge .tape-music-in {
  background-color: rgba(241, 238, 202, 0.9);
}
#togrunge .lines {
  background: linear-gradient(180deg, #8C3838 0%, #22091E 100%);
}
#togrunge .line1,
#togrunge .line2,
#togrunge .line3 {
  display: none;
}
#togrunge .logo-left {
  background: url(../img/icons/icon_togrunge.png);
  background-size: cover;
}

#torave .music-playing {
  color: #fff;
}
#torave .playing-1,
#torave .playing-2,
#torave .arrow::after,
#torave .arrow::before {
  background-color: #fff;
}
#torave .playing {
  color: #fff;
}
#torave .play {
  background: url(../img/icons/play2.svg);
}
#torave .pause {
  background: url(../img/icons/pause2.svg);
}
#torave .next {
  background: url(../img/icons/next2.svg);
}
#torave .back {
  background: url(../img/icons/back2.svg);
}
#torave .volume-img {
  background: url(../img/icons/volume2.svg);
}
#torave .mute-img {
  background: url(../img/icons/mute2.svg);
}
#torave .volume-img:hover,
#torave .mute-img:hover {
  background: none;
}
#torave .container {
  background: url(../img/bg/bg_torave.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
#torave .tape-title {
  background: linear-gradient(225deg, #e184c4 0%, #84e0a0 100%);
  background-size: cover;
}
#torave .tape-window {
  border-radius: 16px;
}
#torave .tape-music-in,
#torave .tape-view {
  background: linear-gradient(225deg, #e184c4 0%, #84e0a0 100%);
}
#torave .tape-in-out,
#torave .tape-reels,
#torave .box {
  border-right: 0;
  border-left: 0;
  background-image: linear-gradient(#2e2e33, #333), linear-gradient(to right, #e184c4, #84e0a0);
  background-clip: padding-box, border-box;
  background-size: 200% auto;
  -webkit-animation: loading 2.5s infinite linear;
          animation: loading 2.5s infinite linear;
  border: solid 1px transparent;
}
#torave .tape-window {
  background-image: linear-gradient(#2e2e33, #333);
}
#torave .tape-in-out {
  border-bottom: 0;
}
#torave .line1,
#torave .line2,
#torave .line3 {
  display: none;
}
#torave .logo-left {
  background: url(../img/icons/icon_tutztutz.png);
  background-size: cover;
}

#low-fi .music-playing {
  color: #fff;
}
#low-fi .playing-1,
#low-fi .playing-2,
#low-fi .arrow::after,
#low-fi .arrow::before {
  background-color: #fff;
}
#low-fi .playing {
  color: #fff;
}
#low-fi .play {
  background: url(../img/icons/play2.svg);
}
#low-fi .pause {
  background: url(../img/icons/pause2.svg);
}
#low-fi .next {
  background: url(../img/icons/next2.svg);
}
#low-fi .back {
  background: url(../img/icons/back2.svg);
}
#low-fi .volume-img {
  background: url(../img/icons/volume2.svg);
}
#low-fi .mute-img {
  background: url(../img/icons/mute2.svg);
}
#low-fi .volume-img:hover,
#low-fi .mute-img:hover {
  background: none;
}
#low-fi .container {
  background: url(../img/bg/bg_1.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url(../img/bg/bg_img_low-fi.jpg);
}
#low-fi .tape-title,
#low-fi .tape-view,
#low-fi .tape-music-in {
  background-color: rgba(227, 250, 162, 0.897);
}
#low-fi .lines {
  background: linear-gradient(180deg, #f7ecec 0%, #190922 100%);
}
#low-fi .line1,
#low-fi .line2,
#low-fi .line3 {
  display: none;
}

#forsteven .music-playing {
  color: #fff;
}
#forsteven .playing-1,
#forsteven .playing-2,
#forsteven .arrow::after,
#forsteven .arrow::before {
  background-color: #fff;
}
#forsteven .playing {
  color: #fff;
}
#forsteven .play {
  background: url(../img/icons/play2.svg);
}
#forsteven .pause {
  background: url(../img/icons/pause2.svg);
}
#forsteven .next {
  background: url(../img/icons/next2.svg);
}
#forsteven .back {
  background: url(../img/icons/back2.svg);
}
#forsteven .volume-img {
  background: url(../img/icons/volume2.svg);
}
#forsteven .mute-img {
  background: url(../img/icons/mute2.svg);
}
#forsteven .volume-img:hover,
#forsteven .mute-img:hover {
  background: none;
}
#forsteven .container {
  background: url(../img/bg/bg_1.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url(../img/bg/bg_forsteven.jpg);
}
#forsteven .tape-title,
#forsteven .tape-view,
#forsteven .tape-music-in {
  background-color: #FFEEDC;
}
#forsteven .tape-title::before {
  content: "For Steven";
  font-family: "Yellowtail";
  font-size: 3.2vmin;
  margin-bottom: 10%;
  text-align: center;
}
#forsteven .logo-left {
  background: url("../img/icons/icon_forsteven.png");
  background-size: cover;
}
#forsteven .line1 {
  background-color: #8E88AC;
}
#forsteven .line2 {
  background-color: #FF9478;
}
#forsteven .line3 {
  background-color: #E44A64;
}

#forzelda .music-playing {
  color: #fff;
}
#forzelda .playing-1,
#forzelda .playing-2,
#forzelda .arrow::after,
#forzelda .arrow::before {
  background-color: #fff;
}
#forzelda .playing {
  color: #fff;
}
#forzelda .play {
  background: url(../img/icons/play2.svg);
}
#forzelda .pause {
  background: url(../img/icons/pause2.svg);
}
#forzelda .next {
  background: url(../img/icons/next2.svg);
}
#forzelda .back {
  background: url(../img/icons/back2.svg);
}
#forzelda .volume-img {
  background: url(../img/icons/volume2.svg);
}
#forzelda .mute-img {
  background: url(../img/icons/mute2.svg);
}
#forzelda .volume-img:hover,
#forzelda .mute-img:hover {
  background: none;
}
#forzelda .container {
  background: url(../img/bg/bg_1.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("https://r4.wallpaperflare.com/wallpaper/95/828/62/zelda-the-legend-of-zelda-breath-of-the-wild-link-wallpaper-0970e8fda11a7d1b3627381f70a196dd.jpg");
}
#forzelda .line1 {
  background-color: #9be7f5;
}
#forzelda .line2 {
  background-color: #2aa8b6;
}
#forzelda .line3 {
  background-color: #155869;
}
#forzelda .tape-title {
  background-color: #a6f1ff;
}
#forzelda .tape-view,
#forzelda .tape-music-in {
  background-color: #4faead;
}

#goloud .music-playing {
  color: #fff;
}
#goloud .playing-1,
#goloud .playing-2,
#goloud .arrow::after,
#goloud .arrow::before {
  background-color: #fff;
}
#goloud .playing {
  color: #fff;
}
#goloud .play {
  background: url(../img/icons/play2.svg);
}
#goloud .pause {
  background: url(../img/icons/pause2.svg);
}
#goloud .next {
  background: url(../img/icons/next2.svg);
}
#goloud .back {
  background: url(../img/icons/back2.svg);
}
#goloud .volume-img {
  background: url(../img/icons/volume2.svg);
}
#goloud .mute-img {
  background: url(../img/icons/mute2.svg);
}
#goloud .volume-img:hover,
#goloud .mute-img:hover {
  background: none;
}
#goloud .container {
  background: url(../img/bg/bg_1.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url(../img/bg/bg_goloud.jpg);
}
#goloud .box, #goloud .tape-reels, #goloud .tape-window, #goloud .tape-in-out {
  background-color: #222;
}
#goloud .lines {
  background: linear-gradient(180deg, #006424 0%, #2DA657 100%);
}
#goloud .line1,
#goloud .line2,
#goloud .line3 {
  display: none;
}
#goloud .tape-music-in, #goloud .tape-view {
  background-color: #2DA657;
}

.playing {
  position: relative;
  display: flex;
  width: 20px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: #3231F1;
}
.playing .playing-1,
.playing .playing-2 {
  width: 4px;
  border-radius: 100px;
  background-color: #3231F1;
}
.playing .playing-1 {
  height: 24px;
}
.playing .playing-2 {
  height: 12px;
}

.animate-1 {
  -webkit-animation: playing1 1.8s ease-in-out infinite;
          animation: playing1 1.8s ease-in-out infinite;
}

.animate-2 {
  -webkit-animation: playing2 1.8s ease-in-out infinite;
          animation: playing2 1.8s ease-in-out infinite;
}

.music-playing {
  margin-left: 16px;
  font-size: clamp(10px, 1.6vmin, 16px);
  font-weight: bold;
  color: #3231F1;
}

.play-button,
.pause-button,
.back-button,
.skip-button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.row-play {
  display: flex;
  flex-direction: column;
  position: relative;
}

.pause-button {
  width: 18px;
}

.back-button {
  position: absolute;
  top: -60px;
}

.next-button {
  margin-top: -30px;
}

.play-button {
  margin-top: 28px;
}

.pause {
  width: 14px;
  height: 22px;
  background-image: url(../img/icons/pause.svg);
  cursor: pointer;
}

.play {
  width: 18px;
  height: 22px;
  background-image: url(../img/icons/play.svg);
  cursor: pointer;
}

.back {
  width: 18px;
  height: 22px;
  background-image: url(../img/icons/back.svg);
  cursor: pointer;
}

.next {
  width: 18px;
  height: 22px;
  background-image: url(../img/icons/next.svg);
  cursor: pointer;
}

.row {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.volume-img,
.mute-img {
  width: 24px;
  height: 24px;
  margin-top: -8px;
  background: url(../img/icons/volume.svg);
}

.volume-img {
  background: url(../img/icons/volume.svg);
}

.mute-img {
  background: url(../img/icons/mute.svg);
}

.volume {
  display: none;
}

.volume-img:hover,
.mute-img:hover {
  background: none;
  width: 64px;
  height: 48px;
}
.volume-img:hover .volume,
.mute-img:hover .volume {
  display: flex;
  flex-direction: column;
}
.volume-img:hover .volume .inline,
.mute-img:hover .volume .inline {
  display: flex;
  justify-content: center;
  align-items: center;
}
.volume-img:hover .volume .volume-end,
.mute-img:hover .volume .volume-end {
  display: flex;
  justify-content: end;
  flex-direction: column-reverse;
  align-items: flex-end;
}

.flex-side {
  display: flex;
  flex-direction: row;
}

.sidebar {
  height: 100vh;
  width: 100%;
  max-width: 80px;
  border-left: 1px solid #3231F1;
}
.sidebar .playlists {
  display: none;
}

.sidebar-active {
  position: absolute;
  padding-top: clamp(40px, 6vmin, 65px);
  min-height: 100vh;
  width: 100vw;
  background-color: #9174E4;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  box-sizing: border-box;
}
.sidebar-active .click-zone {
  width: 0;
  height: 0;
}

.click-zone {
  width: 100%;
  height: 60px;
}

.hamburguer {
  position: absolute;
  margin-top: clamp(4vmin, 40px, 4vh);
  right: 16px;
  width: 32px;
  height: 6px;
  background-color: #3231F1;
}

.hamburguer::before,
.hamburguer::after {
  right: 0;
  width: 40px;
  height: 6px;
  position: absolute;
  content: "";
  background-color: #3231F1;
}

.hamburguer::before {
  top: -12px;
  transition: 0.5s;
}

.hamburguer.active::before {
  top: 0;
  transform: rotate(-45deg);
  background-color: #3231F1;
  z-index: 3;
  border-radius: 4px;
}

.hamburguer::after {
  top: 12px;
  transition: 0.5s;
}

.hamburguer.active {
  background: none;
  top: 0;
}

.hamburguer.active::after {
  top: 0;
  transform: rotate(45deg);
  border-radius: 4px;
  background-color: #3231F1;
  z-index: 3;
}

.star {
  position: absolute;
  cursor: pointer;
  width: 32px;
  height: 32px;
  bottom: clamp(4vmin, 40px, 4vh);
  right: 24px;
  background: url(../img/icons/star.svg);
}

.star:hover {
  -webkit-animation: spin-star 0.6s;
          animation: spin-star 0.6s;
}

.confetti {
  position: absolute;
  width: 80px;
  bottom: 120px;
}

@media (max-width: 500px) {
  .sidebar {
    width: 60px;
  }
  .hamburguer {
    width: 24px;
    right: 12px;
  }
  .confetti {
    position: absolute;
    width: 60px;
    bottom: 120px;
  }
  .star {
    width: 24px;
    height: 24px;
    background-size: cover;
    right: 16px;
  }
  .hamburguer::before,
.hamburguer::after {
    width: 32px;
  }
}
* {
  padding: 0;
  margin: 0;
  border: 0;
  font-family: "Radwave", "Poppins", Arial, Helvetica, sans-serif;
}

body {
  background-color: #9174E4;
  cursor: default;
  overflow-x: hidden;
}

.container {
  position: relative;
  width: 100vw;
  height: 100vh;
  background: url(../img/bg/bg_1.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.container-max {
  max-width: 1440px;
  width: 80vw;
  margin: auto;
  padding: 0 4vmin;
}

a {
  position: relative;
  text-decoration: none;
  display: flex;
  justify-content: end;
}

h1, h2 {
  font-size: 12.5vmin;
}

@media (max-width: 1000px) {
  h1, h2 {
    font-size: 11vmin;
  }
}
h1 {
  color: #3231F1;
}

h2 {
  min-width: 42.8vmin;
  width: 100%;
  color: #fff;
}

h2:hover {
  cursor: pointer;
  transition: all 0.6s;
  background-color: #3231F1;
  color: #DECDF7;
}

span {
  -webkit-text-stroke: 1px #3231F1;
  color: #9174E4;
}

.none {
  display: none;
}/*# sourceMappingURL=app.css.map */